{{ 'groo_navbar.css' | asset_url | stylesheet_tag }}

    <nav class="navbar">
        <div class="container_lest">
            <a href="#" class="logo">
                <svg width="176" height="49" viewBox="0 0 176 49" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M81.7218 37.3483C86.434 37.3483 89.4609 35.4221 90.8367 32.8424L91.1119 36.6604H95.7209V23.0397H82.5817V27.3047H89.9424V27.6143C89.8736 30.022 87.5691 32.7393 83.2008 32.7393C78.4542 32.7393 75.8746 29.5061 75.8746 24.5187C75.8746 19.3937 78.523 16.1949 83.1321 16.1949C86.6404 16.1949 88.601 18.0179 89.2201 20.3912L95.6521 19.2561C94.5858 14.8191 90.1832 11.5515 83.2352 11.5515C74.7051 11.5515 69.3738 16.9172 69.3738 24.5875C69.3738 32.1889 74.0516 37.3483 81.7218 37.3483Z" fill="#2F80ED"/>
                <path d="M105.514 24.1747V19.4625H100.114V36.6604H106.065V30.2284C106.065 28.371 106.443 26.6856 107.612 25.6193C108.472 24.7938 109.779 24.3467 111.533 24.3467C112.187 24.3467 112.703 24.4155 113.288 24.4843V19.0842C112.944 19.0154 112.634 19.0154 112.153 19.0154C108.747 19.0154 106.443 20.9759 105.514 24.1747Z" fill="#2F80ED"/>
                <path d="M125.386 37.1763C131.681 37.1763 136.118 33.8399 136.118 28.027C136.118 22.2486 131.681 18.9466 125.386 18.9466C119.058 18.9466 114.62 22.2486 114.62 28.027C114.62 33.8399 119.058 37.1763 125.386 37.1763ZM125.386 33.2208C122.497 33.2208 120.674 31.3634 120.674 28.027C120.674 24.6907 122.497 22.9021 125.386 22.9021C128.241 22.9021 130.064 24.6907 130.064 28.027C130.064 31.3634 128.241 33.2208 125.386 33.2208Z" fill="#2F80ED"/>
                <path d="M149.268 37.1763C155.563 37.1763 160 33.8399 160 28.027C160 22.2486 155.563 18.9466 149.268 18.9466C142.94 18.9466 138.503 22.2486 138.503 28.027C138.503 33.8399 142.94 37.1763 149.268 37.1763ZM149.268 33.2208C146.379 33.2208 144.556 31.3634 144.556 28.027C144.556 24.6907 146.379 22.9021 149.268 22.9021C152.123 22.9021 153.946 24.6907 153.946 28.027C153.946 31.3634 152.123 33.2208 149.268 33.2208Z" fill="#2F80ED"/>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M25.5925 48.9C39.7269 48.9 51.185 37.9534 51.185 24.45C51.185 10.9466 39.7269 0 25.5925 0C11.4582 0 0 10.9466 0 24.45C0 37.9534 11.4582 48.9 25.5925 48.9ZM33.214 32.8426C31.8382 35.4223 28.8114 37.3485 24.0992 37.3485C16.4289 37.3485 11.7511 32.1891 11.7511 24.5877C11.7511 16.9174 17.0825 11.5517 25.6126 11.5517C32.5605 11.5517 36.9632 14.8193 38.0294 19.2563L31.5974 20.3914C30.9783 18.0181 29.0178 16.1951 25.5094 16.1951C20.9004 16.1951 18.2519 19.3939 18.2519 24.5189C18.2519 29.5062 20.8316 32.7394 25.5782 32.7394C29.9464 32.7394 32.251 30.0222 32.3197 27.6145V27.3049H24.9591V23.0399H38.0982V36.6605H33.4892L33.214 32.8426Z" fill="#2F80ED"/>
                </svg>
                </a>
            <a href="#" class="links">Browse mentors</a>
            <a href="#" class="links">How it works</a>
            <a href="#" class="links">Become a mentor</a>
            <a href="#" class="links">Company</a>
        </div>
        <div class="container_rigth">
            <a href="#" class="sign">Sign up</a>
            <a href="#" class="login">Login</a>
        </div>
        <div class="burguer_mobile">
            <span class="line"></span>
            <span class="line"></span>
            <span class="line"></span>
        </div>
        <div class="container_mobile">
            <a href="#" class="links_mobile">Browse mentors</a>
            <a href="#" class="links_mobile">How it works</a>
            <a href="#" class="links_mobile">Become a mentor</a>
            <a href="#" class="links_mobile">Company</a>
        </div>
    </nav>